<footer>
    <div class="row">
        <div class="large-12 columns">
            <p>&copy;2006-{{ site.time | date: '%y' }} by <a href="http://www.axisofstevil.com">The Axis of Stevil</a> dba: bigrichonline.biz - All Rights Reserved. <small>This website and advertising campaign were created on a lark and does not offer any real business value.</small></p>
        </div>
    </div>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-resource/0.5.1/vue-resource.min.js"></script>
<script src="/js/app.js"></script>
